body, html {

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
	font-family: Arial, Helvetica, sans-serif;
	
	width:100%;
	height:100%;
	
	/*min-width: 1400px;*/
	min-width: 1400px;
	
}

div.middleContentHolder {

	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,.75);
	background-color: rgb(230, 230, 240);
	min-height:1200px;
	
	position: relative;
	
}

div.content1 {
  
	
	min-height: 1000px;
	background: rgb(255, 250, 240);
	box-shadow: 2px 2px 5px black;
	
	/*display:inline-block;
	vertical-align:center;*/
	
	position: relative;
  	width: 50%;
	margin-left:25%;
	margin-right:25%;
  	margin-top: 30px;
  	margin-bottom: 40px;
  	
  	display: inline-block;
  	
  	border: 3px double rgb(156, 170, 89);

}

span.topBarContents {

	display: block;
	text-color: white;
	
	width:50%;
	height:60px;
	
	position: relative;
	
	margin-left:25%;
	margin-right:25%;
	
	margin-top:2px;
	margin-bottom:2px;

}

span.topDashboard{
	
	display: block;
	text-align: right;
	position: relative;
	bottom: 32px;

}

div.topBar1 {

	background: rgb(0, 15, 53);
	border-top: 1px solid rgb(126, 100, 49);
	
	height: 75px;
	width:100%;

}

/* TOP BAR 2 */

div.topBar2 {

	background: linear-gradient(rgb(156, 170, 89), rgb(146, 120, 69)); /* Standard syntax */
	border-bottom: 1px solid rgb(110, 90, 39);
	border-top: 1px solid rgb(110, 90, 39);
	height: 40px;
	width: 100%;
	text-align: center;
	
	/*min-width: 2000px;*/
    
}


a.topBar2Link {

	/*padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;*/
	
	padding-top: 5px;
	padding-right: 1%;
	padding-bottom: 5px;
	padding-left: 1%;
	
	position: relative;
    	bottom: -12px;

	text-decoration: none;

}

a.topBar2Link:link {
    
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
    	
    	/*border-right: 1px solid white;*/
    
}

a.topBar2Link:visited {


	color: rgb(0, 51, 153);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	
}

a.topBar2Link:hover {


	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: yellow;
		
}

a.topBar2Link:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgb(218,165,32);
  /*background: linear-gradient(left, transparent 0%,rgb(218,165,32) 50%,transparent 100%);*/
 }

/* MIDDLE CONTENT HOLDER */



div.bottomContentHolder {

	border-top: 1px solid rgb(156, 170, 89);
	background-color: rgb(220, 220, 230);
	height: 150px;
	text-align: center;
	
}

div.brag {

	color: rgb(180, 180, 200);
	font-size: 20px;
	margin-top:20px;
	margin-bottom:20px;
	
}

div.credits {

	color: rgb(180, 180, 200);
	font-size: 15px;
	margin-top:20px;
	margin-bottom:20px;

}

div.copyright {

	color: rgb(180, 180, 200);
	font-size: 12px;
	margin-top:20px;
	margin-bottom:20px;

}

a.navBarItem:link {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	

}

a.navBarItem:visited {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	
	
}

a.navBarItem:hover {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: yellow;
	
	
	
}