/* Body, Html */

body, html {

	margin: 0 0 0 0;
	padding: 0 0 0 0;
	
	width:100%;
	height:100%;
	
	min-width: 1400px;
	
	font-family: Arial, Helvetica, sans-serif;
	
}

/* Header At Top */

span.headerContents {

	display: block;
	text-color: white;
	
	width:50%;
	height:60px;
	
	position: relative;
	
	margin-left:25%;
	margin-right:25%;
	
	margin-top:2px;
	margin-bottom:2px;

}

div.header {

	background: rgb(0, 15, 53);
	border-top: 1px solid rgb(126, 100, 49);
	
	height: 75px;
	width:100%;

}

/* Dashboard At Top (contained by header)*/

span.topDashboard{
	
	display: block;
	text-align: right;
	position: relative;
	bottom: 32px;
	
}

/* Dashboard Items */

a.dashboardItem:link {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	

}

a.dashboardItem:visited {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	
	
}

a.dashboardItem:hover {

	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: yellow;
	
	
	
}

/* Site Navigation */

div.siteNavBar {

	background: linear-gradient(rgb(156, 170, 89), rgb(146, 120, 69)); /* Standard syntax */
	border-bottom: 1px solid rgb(110, 90, 39);
	border-top: 1px solid rgb(110, 90, 39);
	height: 40px;
	width: 100%;
	text-align: center;
	
	/*min-width: 2000px;*/
    
}

/* Site Navigation Links */

a.siteNavLink {

	/*padding-top: 5px;
	padding-right: 20px;
	padding-bottom: 5px;
	padding-left: 20px;*/
	
	padding-top: 5px;
	padding-right: 1%;
	padding-bottom: 5px;
	padding-left: 1%;
	
	position: relative;
    	bottom: -12px;

	text-decoration: none;

}

a.siteNavLink:link {
    
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
    	
    	/*border-right: 1px solid white;*/
    
}

a.siteNavLink:visited {


	color: rgb(0, 51, 153);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: white;
	
}

a.siteNavLink:hover {


	color: rgb(218,165,32);
	font-family: Arial, Helvetica, sans-serif;
	
	font-size: 15px;
	
	color: yellow;
		
}

a.siteNavLink:hover::after {
  content: "";
  position: absolute;
  bottom: 2px;
  left: 0;
  height: 1px;
  width: 100%;
  background: rgb(218,165,32);
  /*background: linear-gradient(left, transparent 0%,rgb(218,165,32) 50%,transparent 100%);*/
 }

/* Middle Content Holder */

div.middleContentHolder {

	box-shadow: inset 0 20px 20px -20px rgba(0,0,0,.75);
	background-color: rgb(230, 230, 240);
	min-height:800px;
	
	position: relative;
	
	
	background: url("../images/micro_chip_bg_1.png");
	background-size: cover;
	
	
}

/* Footer */

div.footer {

	border-top: 3px double rgb(156, 170, 89);
	background-color: rgb(220, 220, 230);
	height: 150px;
	text-align: center;
	
}

/* Stuff That's In The Footer */

div.brag {

	color: rgb(180, 180, 200);
	font-size: 20px;
	margin-top:20px;
	margin-bottom:20px;
	
}

div.credits {

	color: rgb(180, 180, 200);
	font-size: 15px;
	margin-top:20px;
	margin-bottom:20px;

}

div.copyright {

	color: rgb(180, 180, 200);
	font-size: 12px;
	margin-top:20px;
	margin-bottom:20px;

}

/* Misc or in progress*/

div.splash {

	background: url("bernie_sanders_bright.jpg");
	background-size: 100% 100%;
	
	min-height:800px;
	
	position: relative;
	
	text-align: center;
	vertical-align: center;	
}

/*Styles for various forms*/

/* Style for form 1 (form 1 style can and should be applied to multiple different types of forms) */

div.form1 {
  
	
	/*min-height: 200px;*/
	background: rgb(255, 250, 240);
	box-shadow: 2px 2px 5px black;
	
	/*display:inline-block;
	vertical-align:center;*/
	
	position: relative;
  	width: 50%;
	margin-left:25%;
	margin-right:25%;
  	margin-top: 30px;
  	margin-bottom: 40px;
  	
  	display: inline-block;
  	
  	border: 3px double rgb(156, 170, 89);
  	
  	padding: 20px;
	
	box-sizing: border-box; 
	
}


div.form1Title {
	
	color: black;
	font-size: 40px;
	text-align:center;
	
}

div.form1Label {
	
	/*color: rgb(156, 170, 89);*/
	color: black;
	font-size: 20px;
	text-align: left;
	
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:2 black;
    cursor:pointer;
    border-radius: 5px; 
}

div.f1LeftTitle {
	
	color: black;
	font-size: 40px;
	text-align:left;
	left-margin:10%;
	
}

/* Style for the login form */

div.loginError1 {

	background: red;
	border: 2px inset rgb(126, 100, 49);
	
	padding: 4px;
	margin: 4px;

}

div.loginInput {

	position:relative;
	margin-left:20%;
	

}

input[type=text].login {

	display: block;

	font-size:25px;
	horizontal-align: center;
	
	padding: 5px;
	
	margin: 5px;

}

input[type=password].login {

	display: block;

	font-size:25px;
	horizontal-align: center;
	
	padding: 5px;
	
	margin: 5px;

}

/* Contact Us Page Style */

div.contactUsItem {

	border-top: 1px solid black;
	font-size: 20px;

}

div.contactUsSubtitle {

	font-weight: bold;

}

/* Create Account Form-Related */

div.caEntryLabel1 {

	font-weight: bold;

}

div.caError1 {

	background: red;
	border: 2px inset rgb(126, 100, 49);
	
	padding: 4px;
	margin: 4px;

}

input.caEntry {

	font-size:20px;
	margin-bottom: 20px;

}

input.caPhoneAreaCode {

	font-size:20px;
	margin-bottom: 20px;
	width:3ch;

}

input.caPhoneFirst3 {

	font-size:20px;
	margin-bottom: 20px;
	width:3ch;

}

input.caPhoneLast4 {

	font-size:20px;
	margin-bottom: 20px;
	width:4ch;

}

/* My Account Related */

div.maLabel1 {

	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 5px;
	
}

span.maInfo1 {
	font-size:20px;
	color:blue;
}

span.maHiddenInfo1 {
	font-size:20px;
	background:blue;
	color:blue;
}

span.maHiddenInfo1:hover {
	font-size:20px;
	background:none;
	color:blue;
}